// ----- ----- COLORS ----- -----

:root {
    --dark-color: rgba(9, 9, 11, 1); // #09090b
    --success-color: rgba(74, 222, 128, 1); // #4ade80
    --error-color: rgba(248, 113, 113, 1); // #f87171
}