<p-drawer [(visible)]="isVisible" [header]="header" [position]="position" blockScroll="true" (onShow)="onShow($event)"
    (onHide)="onHide($event)">
    <ng-container *ngIf="template === 'cheatsheet'">
        <p-card *ngFor="let a of radioSounds" [header]="a.code" class="m-1">
            <audio #audioRefTest preload="auto" controls (loadedmetadata)="onLoadedMetadataTest(a.id, a.start)"
                (timeupdate)="onTimeUpdateTest(a.id, a.start, a.end)"
                [src]="'assets/audio/full/military_alphabet_over_radio.mp3'"></audio>
        </p-card>
    </ng-container>

    <ng-container *ngIf="template === 'log'">
        @if (logs.length) {
        <div class="log-container h-full">
            <div class="overflow-auto">
                <p-card *ngFor="let logRow of logs | loopReverse; let index=index"
                    [header]="'Attempt ' + (logs.length-index).toString()" class="m-1">
                    <p-metergroup [value]="logRow" />
                </p-card>
            </div>
            <div class="grid justify-content-end mt-2">
                <p-button label="Clear" severity="warn" size="large" (click)="clearLogs()" />
            </div>
        </div>
        }
        @else {
        <p>Not any log yet</p>
        }
    </ng-container>
</p-drawer>